# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ncncazbhpoxjlyvcbvqa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# BigQuery (Service Account do Tiago/TI)
GOOGLE_CLOUD_PROJECT_ID=coffee-mais-mkt-data-lake
GOOGLE_CLOUD_CLIENT_EMAIL=sua_service_account@coffee-mais-mkt-data-lake.iam.gserviceaccount.com
GOOGLE_CLOUD_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Cron (Vercel)
CRON_SECRET=seu_cron_secret_aqui
